{erl_opts, [debug_info]}.
{deps, [
    {gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{branch, "master"}}},
    {gb_utils, ".*", {git, "https://github.com/pundunlabs/gb_utils.git",{branch, "master"}}},
    {pbpc, ".*", {git, "https://github.com/pundunlabs/pbpc.git",{branch, "master"}}},
    {erlsom, ".*", {git, "https://github.com/willemdj/erlsom.git", {tag, "v1.4.1"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", {tag, "0.97.6"}}}
]}.

{relx, [{release, { wikix, "0.1.0" },
         [kernel,
	  stdlib,
	  sasl,
	  {eper, load},
	  compiler,
	  {mnesia, load},
	  runtime_tools,
	  tools,
	  gb_conf,
	  gb_log,
	  gb_utils,
	  ssl,
	  scramerl,
	  yamerl,
	  pbpc,
	  erlsom,
	  wikix]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
